/ProjetosJava/RespostaCertaBusiness/nbproject/private/
/ProjetosJava/RespostaCertaCore/build/
/ProjetosJava/RespostaCertaCore/dist/
/ProjetosJava/RespostaCertaBusiness/build/
/ProjetosJava/RespostaCertaBusiness/dist/
/ProjetosJava/RespostaCertaPersistenceMySQL/nbproject/private/
/ProjetosJava/RespostaCertaPersistenceMySQL/dist/
/ProjetosJava/RespostaCertaPersistenceMySQL/build/
/ProjetosJava/RespostaCertaPersistenceRAM/nbproject/private/
/ProjetosJava/RespostaCertaPersistenceRAM/dist/
/ProjetosJava/RespostaCertaPersistenceRAM/build/
/ProjetosJava/RespostaCertaPersistencePostgre/build/
/ProjetosJava/RespostaCertaCore/nbproject/private/
/RespostaCertaPersistencePostgre/dist/
/RespostaCertaWeb/build/
/RespostaCertaWeb/dist/
/RespostaCertaCore/dist/
/RespostaCertaBusiness/dist/
/RespostaCertaCore/build/
/RespostaCertaBusiness/build/
/RespostaCertaPersistencePostgre/build/