label{
  font-weight: normal;
}

.flexContainer{
  display:flex;
  align-items: center;
}

.rightItem{
   margin-left: auto;
}

.leftItem{
   margin-right: auto
}
#carousel-978113{
  margin-top: 90%;
}
