.bordered {
    width: 20vw;
    height: 30vh;
    padding: 1px;
    border: 4px groove black;
    margin-bottom: 4px;
}

.display {
    display:flex;
    flex-direction: column;
    align-content: center;
    max-width: 20vw;
    max-height: 35vh;
}

.button {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}

.button:hover {
    background-color: dimgray;
    color: white;
}

.texto {
    margin-left: 30px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
#novaImg{
    width: 100%;
    max-height: 400px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
